html, body, .capa {
	height: 100%;
}

/* -- Barra de Navegação -- */
.img-logo {
     margin-top: -23px;
	height: 61px;
	width: 180px;
	display: block; /* span é inline e quero definir como bloco */
	background-size: contain;
	color: transparent; /* manter os textos pois os leitores de tela os reconhecem */
}

nav.navbar-transparente {
	transition: 1s;
	padding: 15px 0px;
	background: #e8e2f0; /* definição da transparencia da barra de menus */
	border: none;
}
nav.navbar-solida{
	transition: 1s;
	padding: 15px 0px;
	background: #e8e2f0;
	border: none;
}

.navbar-inverse{
     border: none;
}

.navbar-brand {
	padding: 5px 15px; /* sobreescrita de classe para centralizar logo */
}

#barra-navegacao a{
	color: #662d91;
}

li{
	font-size: 1.1vw;
	text-decoration: none;
}

li:hover{
	font-weight: bold;
}

li:active{
	font-weight: ;
}

.menu-fixo{
	position: fixed;
	top: 0;
	z-index: 99;
}

.home{
	margin-top: 80px;
}

.carousel-inner img{
	width: 100%;
	margin: auto;

}

.foto-oevento{
	margin-left: auto;
	margin-right: auto;
}

.icones-oevento{
	font-size: 30px;
}

.icones-oevento span{
	margin: 30px 100px 30px 0px;
}

.icones-oevento span:hover{
	color: #f2592b;
}

.o-evento img{
	width: 300px;
}



.parceiros img{
	margin: auto;
}

.realização-organizacao img{
	width: 200px;
	margin-left: 30px;
	margin-top: 10px;
}

.o-evento h1{
	color: #f2592b;
}
.palestrantes h1{
	color: #f2592b;
}

.inscricoes h1{
	color: #f2592b;
}

.parceiros h1{
	color: #662d91;
	text-align: center;
}

.contato h1{
	color: #662d91;
	text-align: center;
}

h2, *{
	text-align: justify;
}

.textos-o-evento h2{
	color: #f2592b;
}

.palestrantes h2{
	text-align: center;
	color: #662d91;
}

.parceiros h2{
	text-align: center;
}
